.password-input {
  margin: 15px 0;
}

.password-input label {
  display: block;
  margin-bottom: 5px;
}

.password-field {
  position: relative; /* Để định vị icon con mắt */
}

.password-input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.password-input input[type="password"] {
  width: calc(100% - 21px);
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Khoảng cách từ bên phải */
  transform: translateY(-50%); /* Định vị giữa theo chiều dọc */
  cursor: pointer; /* Con trỏ chuột khi hover */
  font-size: 20px; /* Kích thước icon */
}

.password-input input.invalid {
  border-color: red; /* Đổi màu viền khi mật khẩu không hợp lệ */
}

.error-message {
  color: red; /* Màu chữ cho thông báo lỗi */
  font-size: 12px; /* Kích thước chữ cho thông báo lỗi */
}

button {
  padding: 10px 15px;
  background-color: #007bff; /* Màu nền cho nút */
  color: white; /* Màu chữ cho nút */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc; /* Màu nền khi nút bị vô hiệu hóa */
  cursor: not-allowed;
}
